body {
    font: 20px Arial, sans-serif;

}


.navbar {
    background-color: #81FFC7;
}

.quem-somos{
    background-color: #CCCB52;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #919DC2;
}

.bg-footer {
    background-color: black;
}